In [ ]:
import kagglehub

path = kagglehub.dataset_download("shenba/time-series-datasets")

print("Path to dataset files:", path)

In [ ]:
import pandas as pd

df = pd.read_csv(filepath_or_buffer=path + "/" + "Electric_Production.csv")

In [ ]:
data = pd.Series(df["IPG2211A2N"],index=pd.to_datetime(df["DATE"]))
data

Index(['IPG2211A2N'], dtype='object')

In [ ]:
from river import cluster

clustream = cluster.CluStream(
    n_macro_clusters=3,
    max_micro_clusters=10,
    time_gap=1,  
    seed=42,
)

In [ ]:
for row in df.iterrows():
    print(row)

('1/1/1985', IPG2211A2N    72.5052
Name: 1/1/1985, dtype: float64)
('2/1/1985', IPG2211A2N    70.672
Name: 2/1/1985, dtype: float64)
('3/1/1985', IPG2211A2N    62.4502
Name: 3/1/1985, dtype: float64)
('4/1/1985', IPG2211A2N    57.4714
Name: 4/1/1985, dtype: float64)
('5/1/1985', IPG2211A2N    55.3151
Name: 5/1/1985, dtype: float64)
('6/1/1985', IPG2211A2N    58.0904
Name: 6/1/1985, dtype: float64)
('7/1/1985', IPG2211A2N    62.6202
Name: 7/1/1985, dtype: float64)
('8/1/1985', IPG2211A2N    63.2485
Name: 8/1/1985, dtype: float64)
('9/1/1985', IPG2211A2N    60.5846
Name: 9/1/1985, dtype: float64)
('10/1/1985', IPG2211A2N    56.3154
Name: 10/1/1985, dtype: float64)
('11/1/1985', IPG2211A2N    58.0005
Name: 11/1/1985, dtype: float64)
('12/1/1985', IPG2211A2N    68.7145
Name: 12/1/1985, dtype: float64)
('1/1/1986', IPG2211A2N    73.3057
Name: 1/1/1986, dtype: float64)
('2/1/1986', IPG2211A2N    67.9869
Name: 2/1/1986, dtype: float64)
('3/1/1986', IPG2211A2N    62.2221
Name: 3/1/1986, dtype: float64)
('4/1/1986', IPG2211A2N    57.0329
Name: 4/1/1986, dtype: float64)
('5/1/1986', IPG2211A2N    55.8137
Name: 5/1/1986, dtype: float64)
('6/1/1986', IPG2211A2N    59.9005
Name: 6/1/1986, dtype: float64)
('7/1/1986', IPG2211A2N    65.7655
Name: 7/1/1986, dtype: float64)
('8/1/1986', IPG2211A2N    64.4816
Name: 8/1/1986, dtype: float64)
('9/1/1986', IPG2211A2N    61.0005
Name: 9/1/1986, dtype: float64)
('10/1/1986', IPG2211A2N    57.5322
Name: 10/1/1986, dtype: float64)
('11/1/1986', IPG2211A2N    59.3417
Name: 11/1/1986, dtype: float64)
('12/1/1986', IPG2211A2N    68.1354
Name: 12/1/1986, dtype: float64)
('1/1/1987', IPG2211A2N    73.8152
Name: 1/1/1987, dtype: float64)
('2/1/1987', IPG2211A2N    70.062
Name: 2/1/1987, dtype: float64)
('3/1/1987', IPG2211A2N    65.61
Name: 3/1/1987, dtype: float64)
('4/1/1987', IPG2211A2N    60.1586
Name: 4/1/1987, dtype: float64)
('5/1/1987', IPG2211A2N    58.8734
Name: 5/1/1987, dtype: float64)
('6/1/1987', IPG2211A2N    63.8918
Name: 6/1/1987, dtype: float64)

('7/1/1987', IPG2211A2N    68.8694
Name: 7/1/1987, dtype: float64)
('8/1/1987', IPG2211A2N    70.0669
Name: 8/1/1987, dtype: float64)
('9/1/1987', IPG2211A2N    64.1151
Name: 9/1/1987, dtype: float64)
('10/1/1987', IPG2211A2N    60.3789
Name: 10/1/1987, dtype: float64)
('11/1/1987', IPG2211A2N    62.4643
Name: 11/1/1987, dtype: float64)
('12/1/1987', IPG2211A2N    70.5777
Name: 12/1/1987, dtype: float64)
('1/1/1988', IPG2211A2N    79.8703
Name: 1/1/1988, dtype: float64)
('2/1/1988', IPG2211A2N    76.1622
Name: 2/1/1988, dtype: float64)
('3/1/1988', IPG2211A2N    70.2928
Name: 3/1/1988, dtype: float64)
('4/1/1988', IPG2211A2N    63.2384
Name: 4/1/1988, dtype: float64)
('5/1/1988', IPG2211A2N    61.4065
Name: 5/1/1988, dtype: float64)
('6/1/1988', IPG2211A2N    67.1097
Name: 6/1/1988, dtype: float64)
('7/1/1988', IPG2211A2N    72.9816
Name: 7/1/1988, dtype: float64)
('8/1/1988', IPG2211A2N    75.7655
Name: 8/1/1988, dtype: float64)
('9/1/1988', IPG2211A2N    67.5152
Name: 9/1/1988, dtype: float64)
('10/1/1988', IPG2211A2N    63.2832
Name: 10/1/1988, dtype: float64)
('11/1/1988', IPG2211A2N    65.1078
Name: 11/1/1988, dtype: float64)
('12/1/1988', IPG2211A2N    73.8631
Name: 12/1/1988, dtype: float64)
('1/1/1989', IPG2211A2N    77.9188
Name: 1/1/1989, dtype: float64)
('2/1/1989', IPG2211A2N    76.6822
Name: 2/1/1989, dtype: float64)
('3/1/1989', IPG2211A2N    73.3523
Name: 3/1/1989, dtype: float64)
('4/1/1989', IPG2211A2N    65.1081
Name: 4/1/1989, dtype: float64)
('5/1/1989', IPG2211A2N    63.6892
Name: 5/1/1989, dtype: float64)
('6/1/1989', IPG2211A2N    68.4722
Name: 6/1/1989, dtype: float64)
('7/1/1989', IPG2211A2N    74.0301
Name: 7/1/1989, dtype: float64)
('8/1/1989', IPG2211A2N    75.0448
Name: 8/1/1989, dtype: float64)
('9/1/1989', IPG2211A2N    69.3053
Name: 9/1/1989, dtype: float64)
('10/1/1989', IPG2211A2N    65.8735
Name: 10/1/1989, dtype: float64)
('11/1/1989', IPG2211A2N    69.0706
Name: 11/1/1989, dtype: float64)
('12/1/1989', IPG2211A2N    84.1949
Name: 12/1/1989, dtype: float64)
('1/1/1990', IPG2211A2N    84.3598
Name: 1/1/1990, dtype: float64)
('2/1/1990', IPG2211A2N    77.1726
Name: 2/1/1990, dtype: float64)
('3/1/1990', IPG2211A2N    73.1964
Name: 3/1/1990, dtype: float64)
('4/1/1990', IPG2211A2N    67.2781
Name: 4/1/1990, dtype: float64)
('5/1/1990', IPG2211A2N    65.8218
Name: 5/1/1990, dtype: float64)
('6/1/1990', IPG2211A2N    71.4654
Name: 6/1/1990, dtype: float64)
('7/1/1990', IPG2211A2N    76.614
Name: 7/1/1990, dtype: float64)
('8/1/1990', IPG2211A2N    77.1052
Name: 8/1/1990, dtype: float64)
('9/1/1990', IPG2211A2N    73.061
Name: 9/1/1990, dtype: float64)
('10/1/1990', IPG2211A2N    67.4365
Name: 10/1/1990, dtype: float64)
('11/1/1990', IPG2211A2N    68.5665
Name: 11/1/1990, dtype: float64)
('12/1/1990', IPG2211A2N    77.6839
Name: 12/1/1990, dtype: float64)
('1/1/1991', IPG2211A2N    86.0214
Name: 1/1/1991, dtype: float64)
('2/1/1991', IPG2211A2N    77.5573
Name: 2/1/1991, dtype: float64)
('3/1/1991', IPG2211A2N    73.365
Name: 3/1/1991, dtype: float64)
('4/1/1991', IPG2211A2N    67.15
Name: 4/1/1991, dtype: float64)
('5/1/1991', IPG2211A2N    68.8162
Name: 5/1/1991, dtype: float64)
('6/1/1991', IPG2211A2N    74.8448
Name: 6/1/1991, dtype: float64)
('7/1/1991', IPG2211A2N    80.0928
Name: 7/1/1991, dtype: float64)
('8/1/1991', IPG2211A2N    79.1606
Name: 8/1/1991, dtype: float64)
('9/1/1991', IPG2211A2N    73.5743
Name: 9/1/1991, dtype: float64)
('10/1/1991', IPG2211A2N    68.7538
Name: 10/1/1991, dtype: float64)
('11/1/1991', IPG2211A2N    72.5166
Name: 11/1/1991, dtype: float64)
('12/1/1991', IPG2211A2N    79.4894
Name: 12/1/1991, dtype: float64)
('1/1/1992', IPG2211A2N    85.2855
Name: 1/1/1992, dtype: float64)
('2/1/1992', IPG2211A2N    80.1643
Name: 2/1/1992, dtype: float64)
('3/1/1992', IPG2211A2N    74.5275
Name: 3/1/1992, dtype: float64)
('4/1/1992', IPG2211A2N    69.6441
Name: 4/1/1992, dtype: float64)
('5/1/1992', IPG2211A2N    67.1784
Name: 5/1/1992, dtype: float64)
('6/1/1992', IPG2211A2N    71.2078
Name: 6/1/1992, dtype: float64)
('7/1/1992', IPG2211A2N    77.5081
Name: 7/1/1992, dtype: float64)
('8/1/1992', IPG2211A2N    76.5374
Name: 8/1/1992, dtype: float64)
('9/1/1992', IPG2211A2N    72.3541
Name: 9/1/1992, dtype: float64)
('10/1/1992', IPG2211A2N    69.0286
Name: 10/1/1992, dtype: float64)
('11/1/1992', IPG2211A2N    73.4992
Name: 11/1/1992, dtype: float64)
('12/1/1992', IPG2211A2N    84.5159
Name: 12/1/1992, dtype: float64)
('1/1/1993', IPG2211A2N    87.9464
Name: 1/1/1993, dtype: float64)
('2/1/1993', IPG2211A2N    84.5561
Name: 2/1/1993, dtype: float64)
('3/1/1993', IPG2211A2N    79.4747
Name: 3/1/1993, dtype: float64)
('4/1/1993', IPG2211A2N    71.0578
Name: 4/1/1993, dtype: float64)
('5/1/1993', IPG2211A2N    67.6762
Name: 5/1/1993, dtype: float64)
('6/1/1993', IPG2211A2N    74.3297
Name: 6/1/1993, dtype: float64)
('7/1/1993', IPG2211A2N    82.1048
Name: 7/1/1993, dtype: float64)
('8/1/1993', IPG2211A2N    82.0605
Name: 8/1/1993, dtype: float64)
('9/1/1993', IPG2211A2N    74.6031
Name: 9/1/1993, dtype: float64)
('10/1/1993', IPG2211A2N    69.681
Name: 10/1/1993, dtype: float64)
('11/1/1993', IPG2211A2N    74.4292
Name: 11/1/1993, dtype: float64)
('12/1/1993', IPG2211A2N    84.2284
Name: 12/1/1993, dtype: float64)
('1/1/1994', IPG2211A2N    94.1386
Name: 1/1/1994, dtype: float64)
('2/1/1994', IPG2211A2N    87.1607
Name: 2/1/1994, dtype: float64)
('3/1/1994', IPG2211A2N    79.2456
Name: 3/1/1994, dtype: float64)
('4/1/1994', IPG2211A2N    70.9749
Name: 4/1/1994, dtype: float64)
('5/1/1994', IPG2211A2N    69.3844
Name: 5/1/1994, dtype: float64)
('6/1/1994', IPG2211A2N    77.9831
Name: 6/1/1994, dtype: float64)
('7/1/1994', IPG2211A2N    83.277
Name: 7/1/1994, dtype: float64)
('8/1/1994', IPG2211A2N    81.8872
Name: 8/1/1994, dtype: float64)
('9/1/1994', IPG2211A2N    75.6826
Name: 9/1/1994, dtype: float64)
('10/1/1994', IPG2211A2N    71.2661
Name: 10/1/1994, dtype: float64)
('11/1/1994', IPG2211A2N    75.2458
Name: 11/1/1994, dtype: float64)
('12/1/1994', IPG2211A2N    84.8147
Name: 12/1/1994, dtype: float64)
('1/1/1995', IPG2211A2N    92.4532
Name: 1/1/1995, dtype: float64)
('2/1/1995', IPG2211A2N    87.4033
Name: 2/1/1995, dtype: float64)
('3/1/1995', IPG2211A2N    81.2661
Name: 3/1/1995, dtype: float64)
('4/1/1995', IPG2211A2N    73.8167
Name: 4/1/1995, dtype: float64)
('5/1/1995', IPG2211A2N    73.2682
Name: 5/1/1995, dtype: float64)
('6/1/1995', IPG2211A2N    78.3026
Name: 6/1/1995, dtype: float64)
('7/1/1995', IPG2211A2N    85.9841
Name: 7/1/1995, dtype: float64)
('8/1/1995', IPG2211A2N    89.5467
Name: 8/1/1995, dtype: float64)
('9/1/1995', IPG2211A2N    78.5035
Name: 9/1/1995, dtype: float64)
('10/1/1995', IPG2211A2N    73.7066
Name: 10/1/1995, dtype: float64)
('11/1/1995', IPG2211A2N    79.6543
Name: 11/1/1995, dtype: float64)
('12/1/1995', IPG2211A2N    90.8251
Name: 12/1/1995, dtype: float64)
('1/1/1996', IPG2211A2N    98.9732
Name: 1/1/1996, dtype: float64)
('2/1/1996', IPG2211A2N    92.8883
Name: 2/1/1996, dtype: float64)
('3/1/1996', IPG2211A2N    86.9356
Name: 3/1/1996, dtype: float64)
('4/1/1996', IPG2211A2N    77.2214
Name: 4/1/1996, dtype: float64)
('5/1/1996', IPG2211A2N    76.6826
Name: 5/1/1996, dtype: float64)
('6/1/1996', IPG2211A2N    81.9306
Name: 6/1/1996, dtype: float64)
('7/1/1996', IPG2211A2N    85.9606
Name: 7/1/1996, dtype: float64)
('8/1/1996', IPG2211A2N    86.5562
Name: 8/1/1996, dtype: float64)
('9/1/1996', IPG2211A2N    79.1919
Name: 9/1/1996, dtype: float64)
('10/1/1996', IPG2211A2N    74.6891
Name: 10/1/1996, dtype: float64)
('11/1/1996', IPG2211A2N    81.074
Name: 11/1/1996, dtype: float64)
('12/1/1996', IPG2211A2N    90.4855
Name: 12/1/1996, dtype: float64)
('1/1/1997', IPG2211A2N    98.4613
Name: 1/1/1997, dtype: float64)
('2/1/1997', IPG2211A2N    89.7795
Name: 2/1/1997, dtype: float64)
('3/1/1997', IPG2211A2N    83.0125
Name: 3/1/1997, dtype: float64)
('4/1/1997', IPG2211A2N    76.1476
Name: 4/1/1997, dtype: float64)
('5/1/1997', IPG2211A2N    73.8471
Name: 5/1/1997, dtype: float64)
('6/1/1997', IPG2211A2N    79.7645
Name: 6/1/1997, dtype: float64)
('7/1/1997', IPG2211A2N    88.4519
Name: 7/1/1997, dtype: float64)
('8/1/1997', IPG2211A2N    87.7828
Name: 8/1/1997, dtype: float64)
('9/1/1997', IPG2211A2N    81.9386
Name: 9/1/1997, dtype: float64)
('10/1/1997', IPG2211A2N    77.5027
Name: 10/1/1997, dtype: float64)
('11/1/1997', IPG2211A2N    82.0448
Name: 11/1/1997, dtype: float64)
('12/1/1997', IPG2211A2N    92.101
Name: 12/1/1997, dtype: float64)
('1/1/1998', IPG2211A2N    94.792
Name: 1/1/1998, dtype: float64)
('2/1/1998', IPG2211A2N    87.82
Name: 2/1/1998, dtype: float64)
('3/1/1998', IPG2211A2N    86.5549
Name: 3/1/1998, dtype: float64)
('4/1/1998', IPG2211A2N    76.7521
Name: 4/1/1998, dtype: float64)
('5/1/1998', IPG2211A2N    78.0303
Name: 5/1/1998, dtype: float64)
('6/1/1998', IPG2211A2N    86.4579
Name: 6/1/1998, dtype: float64)
('7/1/1998', IPG2211A2N    93.8379
Name: 7/1/1998, dtype: float64)
('8/1/1998', IPG2211A2N    93.531
Name: 8/1/1998, dtype: float64)
('9/1/1998', IPG2211A2N    87.5414
Name: 9/1/1998, dtype: float64)
('10/1/1998', IPG2211A2N    80.0924
Name: 10/1/1998, dtype: float64)
('11/1/1998', IPG2211A2N    81.4349
Name: 11/1/1998, dtype: float64)
('12/1/1998', IPG2211A2N    91.6841
Name: 12/1/1998, dtype: float64)
('1/1/1999', IPG2211A2N    102.1348
Name: 1/1/1999, dtype: float64)
('2/1/1999', IPG2211A2N    91.1829
Name: 2/1/1999, dtype: float64)
('3/1/1999', IPG2211A2N    90.7381
Name: 3/1/1999, dtype: float64)
('4/1/1999', IPG2211A2N    80.5176
Name: 4/1/1999, dtype: float64)
('5/1/1999', IPG2211A2N    79.3887
Name: 5/1/1999, dtype: float64)
('6/1/1999', IPG2211A2N    87.8431
Name: 6/1/1999, dtype: float64)
('7/1/1999', IPG2211A2N    97.4903
Name: 7/1/1999, dtype: float64)
('8/1/1999', IPG2211A2N    96.4157
Name: 8/1/1999, dtype: float64)
('9/1/1999', IPG2211A2N    87.2248
Name: 9/1/1999, dtype: float64)
('10/1/1999', IPG2211A2N    80.6409
Name: 10/1/1999, dtype: float64)
('11/1/1999', IPG2211A2N    82.2025
Name: 11/1/1999, dtype: float64)
('12/1/1999', IPG2211A2N    94.5113
Name: 12/1/1999, dtype: float64)
('1/1/2000', IPG2211A2N    102.2301
Name: 1/1/2000, dtype: float64)
('2/1/2000', IPG2211A2N    94.2989
Name: 2/1/2000, dtype: float64)
('3/1/2000', IPG2211A2N    88.0927
Name: 3/1/2000, dtype: float64)
('4/1/2000', IPG2211A2N    81.4425
Name: 4/1/2000, dtype: float64)
('5/1/2000', IPG2211A2N    84.4552
Name: 5/1/2000, dtype: float64)
('6/1/2000', IPG2211A2N    91.0406
Name: 6/1/2000, dtype: float64)
('7/1/2000', IPG2211A2N    95.9957
Name: 7/1/2000, dtype: float64)
('8/1/2000', IPG2211A2N    99.3704
Name: 8/1/2000, dtype: float64)
('9/1/2000', IPG2211A2N    90.9178
Name: 9/1/2000, dtype: float64)
('10/1/2000', IPG2211A2N    83.1408
Name: 10/1/2000, dtype: float64)
('11/1/2000', IPG2211A2N    88.041
Name: 11/1/2000, dtype: float64)
('12/1/2000', IPG2211A2N    102.4558
Name: 12/1/2000, dtype: float64)
('1/1/2001', IPG2211A2N    109.1081
Name: 1/1/2001, dtype: float64)
('2/1/2001', IPG2211A2N    97.1717
Name: 2/1/2001, dtype: float64)
('3/1/2001', IPG2211A2N    92.8283
Name: 3/1/2001, dtype: float64)
('4/1/2001', IPG2211A2N    82.915
Name: 4/1/2001, dtype: float64)
('5/1/2001', IPG2211A2N    82.5465
Name: 5/1/2001, dtype: float64)
('6/1/2001', IPG2211A2N    90.3955
Name: 6/1/2001, dtype: float64)
('7/1/2001', IPG2211A2N    96.074
Name: 7/1/2001, dtype: float64)
('8/1/2001', IPG2211A2N    99.5534
Name: 8/1/2001, dtype: float64)
('9/1/2001', IPG2211A2N    88.281
Name: 9/1/2001, dtype: float64)
('10/1/2001', IPG2211A2N    82.686
Name: 10/1/2001, dtype: float64)
('11/1/2001', IPG2211A2N    82.9319
Name: 11/1/2001, dtype: float64)
('12/1/2001', IPG2211A2N    93.0381
Name: 12/1/2001, dtype: float64)
('1/1/2002', IPG2211A2N    102.9955
Name: 1/1/2002, dtype: float64)
('2/1/2002', IPG2211A2N    95.2075
Name: 2/1/2002, dtype: float64)
('3/1/2002', IPG2211A2N    93.2556
Name: 3/1/2002, dtype: float64)
('4/1/2002', IPG2211A2N    85.795
Name: 4/1/2002, dtype: float64)
('5/1/2002', IPG2211A2N    85.2351
Name: 5/1/2002, dtype: float64)
('6/1/2002', IPG2211A2N    93.1896
Name: 6/1/2002, dtype: float64)
('7/1/2002', IPG2211A2N    102.393
Name: 7/1/2002, dtype: float64)
('8/1/2002', IPG2211A2N    101.6293
Name: 8/1/2002, dtype: float64)
('9/1/2002', IPG2211A2N    93.3089
Name: 9/1/2002, dtype: float64)
('10/1/2002', IPG2211A2N    86.9002
Name: 10/1/2002, dtype: float64)
('11/1/2002', IPG2211A2N    88.5749
Name: 11/1/2002, dtype: float64)
('12/1/2002', IPG2211A2N    100.8003
Name: 12/1/2002, dtype: float64)
('1/1/2003', IPG2211A2N    110.1807
Name: 1/1/2003, dtype: float64)
('2/1/2003', IPG2211A2N    103.8413
Name: 2/1/2003, dtype: float64)
('3/1/2003', IPG2211A2N    94.5532
Name: 3/1/2003, dtype: float64)
('4/1/2003', IPG2211A2N    85.062
Name: 4/1/2003, dtype: float64)
('5/1/2003', IPG2211A2N    85.4653
Name: 5/1/2003, dtype: float64)
('6/1/2003', IPG2211A2N    91.0761
Name: 6/1/2003, dtype: float64)
('7/1/2003', IPG2211A2N    102.22
Name: 7/1/2003, dtype: float64)
('8/1/2003', IPG2211A2N    104.4682
Name: 8/1/2003, dtype: float64)
('9/1/2003', IPG2211A2N    92.9135
Name: 9/1/2003, dtype: float64)
('10/1/2003', IPG2211A2N    86.5047
Name: 10/1/2003, dtype: float64)
('11/1/2003', IPG2211A2N    88.5735
Name: 11/1/2003, dtype: float64)
('12/1/2003', IPG2211A2N    103.5428
Name: 12/1/2003, dtype: float64)
('1/1/2004', IPG2211A2N    113.7226
Name: 1/1/2004, dtype: float64)
('2/1/2004', IPG2211A2N    106.159
Name: 2/1/2004, dtype: float64)
('3/1/2004', IPG2211A2N    95.4029
Name: 3/1/2004, dtype: float64)
('4/1/2004', IPG2211A2N    86.7233
Name: 4/1/2004, dtype: float64)
('5/1/2004', IPG2211A2N    89.0302
Name: 5/1/2004, dtype: float64)
('6/1/2004', IPG2211A2N    95.5045
Name: 6/1/2004, dtype: float64)
('7/1/2004', IPG2211A2N    101.7948
Name: 7/1/2004, dtype: float64)
('8/1/2004', IPG2211A2N    100.2025
Name: 8/1/2004, dtype: float64)
('9/1/2004', IPG2211A2N    94.024
Name: 9/1/2004, dtype: float64)
('10/1/2004', IPG2211A2N    87.5262
Name: 10/1/2004, dtype: float64)
('11/1/2004', IPG2211A2N    89.6144
Name: 11/1/2004, dtype: float64)
('12/1/2004', IPG2211A2N    105.7263
Name: 12/1/2004, dtype: float64)
('1/1/2005', IPG2211A2N    111.1614
Name: 1/1/2005, dtype: float64)
('2/1/2005', IPG2211A2N    101.7795
Name: 2/1/2005, dtype: float64)
('3/1/2005', IPG2211A2N    98.9565
Name: 3/1/2005, dtype: float64)
('4/1/2005', IPG2211A2N    86.4776
Name: 4/1/2005, dtype: float64)
('5/1/2005', IPG2211A2N    87.2234
Name: 5/1/2005, dtype: float64)
('6/1/2005', IPG2211A2N    99.5076
Name: 6/1/2005, dtype: float64)
('7/1/2005', IPG2211A2N    108.3501
Name: 7/1/2005, dtype: float64)
('8/1/2005', IPG2211A2N    109.4862
Name: 8/1/2005, dtype: float64)
('9/1/2005', IPG2211A2N    99.1155
Name: 9/1/2005, dtype: float64)
('10/1/2005', IPG2211A2N    89.7567
Name: 10/1/2005, dtype: float64)
('11/1/2005', IPG2211A2N    90.4587
Name: 11/1/2005, dtype: float64)
('12/1/2005', IPG2211A2N    108.2257
Name: 12/1/2005, dtype: float64)
('1/1/2006', IPG2211A2N    104.4724
Name: 1/1/2006, dtype: float64)
('2/1/2006', IPG2211A2N    101.5196
Name: 2/1/2006, dtype: float64)
('3/1/2006', IPG2211A2N    98.4017
Name: 3/1/2006, dtype: float64)
('4/1/2006', IPG2211A2N    87.5093
Name: 4/1/2006, dtype: float64)
('5/1/2006', IPG2211A2N    90.0222
Name: 5/1/2006, dtype: float64)
('6/1/2006', IPG2211A2N    100.5244
Name: 6/1/2006, dtype: float64)
('7/1/2006', IPG2211A2N    110.9503
Name: 7/1/2006, dtype: float64)
('8/1/2006', IPG2211A2N    111.5192
Name: 8/1/2006, dtype: float64)
('9/1/2006', IPG2211A2N    95.7632
Name: 9/1/2006, dtype: float64)
('10/1/2006', IPG2211A2N    90.3738
Name: 10/1/2006, dtype: float64)
('11/1/2006', IPG2211A2N    92.3566
Name: 11/1/2006, dtype: float64)
('12/1/2006', IPG2211A2N    103.066
Name: 12/1/2006, dtype: float64)
('1/1/2007', IPG2211A2N    112.0576
Name: 1/1/2007, dtype: float64)
('2/1/2007', IPG2211A2N    111.8399
Name: 2/1/2007, dtype: float64)
('3/1/2007', IPG2211A2N    99.1925
Name: 3/1/2007, dtype: float64)
('4/1/2007', IPG2211A2N    90.8177
Name: 4/1/2007, dtype: float64)
('5/1/2007', IPG2211A2N    92.0587
Name: 5/1/2007, dtype: float64)
('6/1/2007', IPG2211A2N    100.9676
Name: 6/1/2007, dtype: float64)
('7/1/2007', IPG2211A2N    107.5686
Name: 7/1/2007, dtype: float64)
('8/1/2007', IPG2211A2N    114.1036
Name: 8/1/2007, dtype: float64)
('9/1/2007', IPG2211A2N    101.5316
Name: 9/1/2007, dtype: float64)
('10/1/2007', IPG2211A2N    93.0068
Name: 10/1/2007, dtype: float64)
('11/1/2007', IPG2211A2N    93.9126
Name: 11/1/2007, dtype: float64)
('12/1/2007', IPG2211A2N    106.7528
Name: 12/1/2007, dtype: float64)
('1/1/2008', IPG2211A2N    114.8331
Name: 1/1/2008, dtype: float64)
('2/1/2008', IPG2211A2N    108.2353
Name: 2/1/2008, dtype: float64)
('3/1/2008', IPG2211A2N    100.4386
Name: 3/1/2008, dtype: float64)
('4/1/2008', IPG2211A2N    90.9944
Name: 4/1/2008, dtype: float64)
('5/1/2008', IPG2211A2N    91.2348
Name: 5/1/2008, dtype: float64)
('6/1/2008', IPG2211A2N    103.9581
Name: 6/1/2008, dtype: float64)
('7/1/2008', IPG2211A2N    110.7631
Name: 7/1/2008, dtype: float64)
('8/1/2008', IPG2211A2N    107.5665
Name: 8/1/2008, dtype: float64)
('9/1/2008', IPG2211A2N    97.7183
Name: 9/1/2008, dtype: float64)
('10/1/2008', IPG2211A2N    90.9979
Name: 10/1/2008, dtype: float64)
('11/1/2008', IPG2211A2N    93.8057
Name: 11/1/2008, dtype: float64)
('12/1/2008', IPG2211A2N    109.4221
Name: 12/1/2008, dtype: float64)
('1/1/2009', IPG2211A2N    116.8316
Name: 1/1/2009, dtype: float64)
('2/1/2009', IPG2211A2N    104.4202
Name: 2/1/2009, dtype: float64)
('3/1/2009', IPG2211A2N    97.8529
Name: 3/1/2009, dtype: float64)
('4/1/2009', IPG2211A2N    88.1973
Name: 4/1/2009, dtype: float64)
('5/1/2009', IPG2211A2N    87.5366
Name: 5/1/2009, dtype: float64)
('6/1/2009', IPG2211A2N    97.2387
Name: 6/1/2009, dtype: float64)
('7/1/2009', IPG2211A2N    103.9086
Name: 7/1/2009, dtype: float64)
('8/1/2009', IPG2211A2N    105.7486
Name: 8/1/2009, dtype: float64)
('9/1/2009', IPG2211A2N    94.8823
Name: 9/1/2009, dtype: float64)
('10/1/2009', IPG2211A2N    89.2977
Name: 10/1/2009, dtype: float64)
('11/1/2009', IPG2211A2N    89.3585
Name: 11/1/2009, dtype: float64)
('12/1/2009', IPG2211A2N    110.6844
Name: 12/1/2009, dtype: float64)
('1/1/2010', IPG2211A2N    119.0166
Name: 1/1/2010, dtype: float64)
('2/1/2010', IPG2211A2N    110.533
Name: 2/1/2010, dtype: float64)
('3/1/2010', IPG2211A2N    98.2672
Name: 3/1/2010, dtype: float64)
('4/1/2010', IPG2211A2N    86.3
Name: 4/1/2010, dtype: float64)
('5/1/2010', IPG2211A2N    90.8364
Name: 5/1/2010, dtype: float64)
('6/1/2010', IPG2211A2N    104.3538
Name: 6/1/2010, dtype: float64)
('7/1/2010', IPG2211A2N    112.8066
Name: 7/1/2010, dtype: float64)
('8/1/2010', IPG2211A2N    112.9014
Name: 8/1/2010, dtype: float64)
('9/1/2010', IPG2211A2N    100.1209
Name: 9/1/2010, dtype: float64)
('10/1/2010', IPG2211A2N    88.9251
Name: 10/1/2010, dtype: float64)
('11/1/2010', IPG2211A2N    92.775
Name: 11/1/2010, dtype: float64)
('12/1/2010', IPG2211A2N    114.3266
Name: 12/1/2010, dtype: float64)
('1/1/2011', IPG2211A2N    119.488
Name: 1/1/2011, dtype: float64)
('2/1/2011', IPG2211A2N    107.3753
Name: 2/1/2011, dtype: float64)
('3/1/2011', IPG2211A2N    99.1028
Name: 3/1/2011, dtype: float64)
('4/1/2011', IPG2211A2N    89.3583
Name: 4/1/2011, dtype: float64)
('5/1/2011', IPG2211A2N    90.0698
Name: 5/1/2011, dtype: float64)
('6/1/2011', IPG2211A2N    102.8204
Name: 6/1/2011, dtype: float64)
('7/1/2011', IPG2211A2N    114.7068
Name: 7/1/2011, dtype: float64)
('8/1/2011', IPG2211A2N    113.5958
Name: 8/1/2011, dtype: float64)
('9/1/2011', IPG2211A2N    99.4712
Name: 9/1/2011, dtype: float64)
('10/1/2011', IPG2211A2N    90.3566
Name: 10/1/2011, dtype: float64)
('11/1/2011', IPG2211A2N    93.8095
Name: 11/1/2011, dtype: float64)
('12/1/2011', IPG2211A2N    107.3312
Name: 12/1/2011, dtype: float64)
('1/1/2012', IPG2211A2N    111.9646
Name: 1/1/2012, dtype: float64)
('2/1/2012', IPG2211A2N    103.3679

In [ ]:
for row in df.iterrows():
    x = {
        "index": row[0],
        "value": row[1],
    }
    clu = clustream.learn_one(row)

TypeError: tuple indices must be integers or slices, not str